
body
{
    font-family: 'Rajdhani', sans-serif;
}
.content
{
    background: rgba(246, 248, 249, 0.95);
    border-radius: 25px;
    color: #010101;
    opacity: .9;
    width: 100%;
}
.col-xs-12{
    padding: 0 10% 10% 10%; 
}
.panel-primary
{
    border-color: #990000;
}
.panel-primary>.panel-heading
{
    background-color: #990000;
    border-color: #990000;
    color: #fff;
}
hr
{
    background-color: #d4af37;
    color: #d4af37;
    height: 1px;
}
legend
{
    border: 0;
    border-bottom: 1px solid #d4af37;
    color: #010101;
    display: block;
    font-size: 21px;
    line-height: inherit;
    margin-bottom: 20px;
    padding-top: 15px;
    width: 100%;
    text-transform: capitalize;
}
.panel-heading
{
    border-bottom: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 0px;
}
.navbar
{
    border: 0px;
    margin-bottom: 20px;
    min-height: 50px;
    position: relative;
}
.navbar-default
{
    background-color: #990000;
    border-color: #990000;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:hover
{
    background-color: #990000;
    color: #010101;
}
.navbar-default .navbar-nav>li>a
{
    color: #f6f8f9;
}
.navbar-default .navbar-toggle
{
    border-color: #010101;
}
.section-header
{
    text-align: center;
}
.board
{
    background: #fff;
    height: 500px;
    margin: 60px auto;
    width: 75%;
}
.board .nav-tabs
{
    border-bottom: 0;
    box-sizing: border-box;
    margin: 40px auto;
    margin-bottom: 0;
    position: relative;
    width: 80%;
}
.board > div.board-inner
{
    background: #fafafa url(http://subtlepatterns.com/patterns/geometry2.png);
    background-size: 30%;
    border-bottom: 1px solid #DDD;
}
p.narrow
{
    margin: 10px auto;
    width: 60%;
}
.liner
{
    background: #ddd;
    height: 2px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 50%;
    width: 80%;
    z-index: 1;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus
{
    border: 0;
    border-bottom-color: transparent;
    color: #555555;
    cursor: default;
}
span.round-tabs
{
    background: white;
    border-radius: 100px;
    display: inline-block;
    font-size: 25px;
    height: 70px;
    left: 0;
    line-height: 70px;
    position: absolute;
    text-align: center;
    width: 70px;
    z-index: 2;
}
span.round-tabs.one
{
    border: 2px solid #010101;
    color: #010101;
}
li.active span.round-tabs.one
{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #010101;
}
span.round-tabs.two
{
    border: 2px solid #990000;
    color: #990000;
}
li.active span.round-tabs.two
{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #990000;
}
span.round-tabs.three
{
    border: 2px solid #d4af37;
    color: #d4af37;
}
li.active span.round-tabs.three
{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #d4af37;
}
span.round-tabs.four
{
    border: 2px solid #f1685e;
    color: #f1685e;
}
li.active span.round-tabs.four
{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #f1685e;
}
span.round-tabs.five
{
    border: 2px solid #999;
    color: #999;
}
li.active span.round-tabs.five
{
    background: #fff !important;
    border: 2px solid #ddd;
    color: #999;
}
.nav-tabs > li.active > a span.round-tabs
{
    background: #fafafa;
}
.nav-tabs > li
{
    flex: 1;
    width: 20%;
}
.nav-tabs
{
    display: flex;
}
li:after
{
    border: 5px solid transparent;
    border-bottom-color: #ddd;
    bottom: 0px;
    content: " ";
    left: 45%;
    margin: 0 auto;
    opacity: 0;
    position: absolute;
    transition: 0.1s ease-in-out;
}
li.active:after
{
    border: 10px solid transparent;
    border-bottom-color: #ddd;
    bottom: 0px;
    content: " ";
    left: 45%;
    margin: 0 auto;
    opacity: 1;
    position: absolute;
}
.nav-tabs > li a
{
    border-radius: 100%;
    height: 70px;
    margin: 20px auto;
    padding: 0;
    width: 70px;
}
.nav-tabs > li a:hover
{
    background: transparent;
}
.tab-content
{
}
.tab-pane
{
    position: relative;
}
.tab-content .head
{
    font-size: 25px;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.btn-outline-rounded
{
    border: 2px solid transparent;
    border-radius: 25px;
    margin: 20px 0;
    padding: 10px 40px;
}
.btn.green
{
    background-color: #5cb85c;
    color: #ffffff;
}
@media( max-width: 585px)
{
    .board
    {
        height: auto !important;
        width: 90%;
    }
    span.round-tabs
    {
        font-size: 16px;
        height: 50px;
        line-height: 50px;
        width: 50px;
    }
    .tab-content .head
    {
        font-size: 20px;
    }
    .nav-tabs > li a
    {
        height: 50px;
        line-height: 50px;
        width: 50px;
    }
    li.active:after
    {
        content: " ";
        left: 35%;
        position: absolute;
    }
    .btn-outline-rounded
    {
        padding: 12px 20px;
    }
}
.icon
{
    vertical-align: middle;
    width: 100%;
}
.bootstrap-iso .form-group button,
.bootstrap-iso form input.form-control,
.bootstrap-iso form textarea.form-control,
.bootstrap-iso form select.form-control,
.bootstrap-iso form .form-group-lg input.form-control,
.bootstrap-iso form .form-group-lg textarea.form-control,
.bootstrap-iso form .form-group-lg select.form-control,
.bootstrap-iso form .form-group-sm input.form-control,
.bootstrap-iso form .form-group-sm textarea.form-control,
.bootstrap-iso form .form-group-sm select.form-control
{
    border-radius: 20px;
    moz-border-radius: 20px;
    webkit-border-radius: 20px;
}
.bootstrap-iso .formden_header h2,
.bootstrap-iso .formden_header p,
.bootstrap-iso form
{
    color: black;
}
.bootstrap-iso form button,
.bootstrap-iso form button:hover
{
    color: #ffffff !important;
}
.bootstrap-iso .btn-custom
{
    background: #990000;
}
.bootstrap-iso .btn-custom:hover
{
    background: #850000;
}
.bootstrap-iso .form-control:focus
{
    border-color: #990000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(153, 0, 0, 0.6);
    webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(153, 0, 0, 0.6);
}
.asteriskField
{
    color: red;
}
.bootstrap-iso form .input-group-addon
{
    background-color: #eeeeee;
    border-radius: 20px;
    color: #555555;
    padding-left: 15px;
}
.btn:focus,.btn:active
{
    outline: #990000 !important;
}
.stylish-input-group .form-control{
    border-right:0; 
    box-shadow:0 0 0; 
    border-color:#ccc;
}
.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    color: #f6f8f9;
    background-color: #010101;
}
.input-group-addon {
    padding: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #010101;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}