<!-- New drink form -->
<div class="bootstrap-iso">
    <div class="container-fluid">
        <span ng-if="createSuccessFlag">
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3>{{createdDrink}} Created!</h3>
            </div>
        </span>
        <h1 class="section-header">New Drink</h1>
        <form ng-submit="submitData(drink, 'ajaxResult')" novalidate>
            <div class="form-group form-group-lg">
                <label class="control-label requiredField" for="name">
                    Name
                    <span class="asteriskField">
                        *
                    </span>
                </label>
                <input ng-model="formData.name" class="form-control" id="name" name="name" placeholder="e.g. 'Manhattan'" type="text" />
            </div>
            <div class="form-group form-group-lg">
                <label class="control-label requiredField" for="baseSpirit">
                    Base Spirit
                    <span class="asteriskField">
                        *
                    </span>
                </label>
                <select ng-model="formData.baseSpirit" class="select form-control" id="baseSpirit" name="baseSpirit">
                    <option value="Brandy">
                        Brandy
                    </option>
                    <option value="Gin">
                        Gin
                    </option>
                    <option value="Rum">
                        Rum
                    </option>
                    <option value="Tequila">
                        Tequila
                    </option>
                    <option value="Vodka">
                        Vodka
                    </option>
                    <option value="Whiskey">
                        Whiskey
                    </option>
                </select>
            </div>
            <div class="form-group form-group-lg">
                <label class="control-label requiredField" for="ingredientOneName">
                    Ingredient One
                    <span class="asteriskField">
                        *
                    </span>
                </label>
                <input ng-model="formData.ingredientOneName" class="form-control" id="ingredientOneName" name="ingredientOneName" placeholder="e.g. 'Rye'" type="text" />
            </div>
            <div class="form-group form-group-lg">
                <label class="control-label requiredField" for="ingredientOneAmount">
                    Ingredient One Amount
                    <span class="asteriskField">
                        *
                    </span>
                </label>
                <input ng-model="formData.ingredientOneAmount" class="form-control" id="ingredientOneAmount" name="ingredientOneAmount" placeholder="e.g. '2 oz'" type="text" />
            </div>
            <div class="form-group form-group-lg">
                <label class="control-label " for="ingredientTwoName">
                    Ingredient Two
                </label>
                <input ng-model="formData.ingredientTwoName" class="form-control" id="ingredientTwoName" name="ingredientOneAmount" placeholder="e.g. 'Sweet Vermouth'" type="text" />
            </div>
            <div class="form-group form-group-lg">
                <label class="control-label " for="ingredientTwoAmount">
                    Ingredient Two Amount
                </label>
                <input ng-model="formData.ingredientTwoAmount" class="form-control" id="ingredientTwoAmount" name="ingredientTwoAmount" placeholder="e.g. '.75 oz'" type="text" />
            </div>
            <div class="form-group form-group-lg">
                <label class="control-label " for="ingredientThreeName">
                    Ingredient Three
                </label>
                <input ng-model="formData.ingredientThreeName" class="form-control" id="ingredientThreeName" name="ingredientThreeName" placeholder="e.g. 'Aromatic Bitters'" type="text" />
            </div>
            <div class="form-group form-group-lg">
                <label class="control-label " for="ingredientThreeAmount">
                    Ingredient Three Amount
                </label>
                <input ng-model="formData.ingredientThreeAmount" class="form-control" id="ingredientThreeAmount" name="ingredientThreeAmount" placeholder="e.g. '2 Dashes'" type="text" />
            </div>
            <div class="form-group form-group-lg">
                <label class="control-label " for="ingredientFourname">
                    Ingredient Four Name
                </label>
                <input ng-model="formData.ingredientFourName" class="form-control" id="ingredientFourname" name="ingredientFourName" placeholder="e.g. 'Another form of alcohol'" type="text" />
            </div>
            <div class="form-group form-group-lg">
                <label class="control-label " for="ingredientFourAmount">
                    Ingredient Four Amount
                </label>
                <input ng-model="formData.ingredientFourAmount" class="form-control" id="ingredientFourAmount" name="ingredientFourAmount" placeholder="e.g. 'A little'" type="text" />
            </div>
            <div class="form-group form-group-lg">
                <label class="control-label " for="ingredientFivename">
                    Ingredient Five Name
                </label>
                <input ng-model="formData.ingredientFiveName" class="form-control" id="ingredientFivename" name="ingredientFivename" placeholder="e.g. 'Another form of alcohol'" type="text" />
            </div>
            <div class="form-group form-group-lg">
                <label class="control-label " for="ingredientFiveAmount">
                    Ingredient Five Amount
                </label>
                <input ng-model="formData.ingredientFiveAmount" class="form-control" id="ingredientFiveAmount" name="ingredientFiveAmount" placeholder="e.g. 'Alot'" type="text" />
            </div>
            <div class="form-group form-group-lg">
                <label class="control-label " for="garnish">
                    Garnish
                </label>
                <input ng-model="formData.garnish" class="form-control" id="garnish" name="garnish" placeholder="'Maraschino Cherry'" type="text" />
            </div>
            <div class="form-group form-group-lg">
                <label class="control-label " for="glass">
                    Drinkware
                </label>
                <input ng-model="formData.glass" class="form-control" id="glass" name="glass" placeholder="'Cocktail'" type="text" />
            </div>
            <div class="form-group form-group-lg">
                <label class="control-label " for="notes">
                    Notes
                </label>
                <textarea ng-model="formData.notes" class="form-control" cols="20" id="notes" name="notes" placeholder="e.g. 'Stir and serve up'" rows="5"></textarea>
            </div>
            <div class="form-group form-group-lg">
                <label class="control-label " for="notes">
                    History
                </label>
                <textarea ng-model="formData.history" class="form-control" cols="40" id="history" name="history" placeholder="e.g. 'A popular history suggests that the drink originated at the Manhattan Club in New York City in the early 1870s, where it was invented by Dr. Iain Marshall for a banquet hosted by Jennie Jerome (Lady Randolph Churchill, Winston's mother) in honor of presidential candidate Samuel J. Tilden.'" rows="10"></textarea>
            </div>
            <div class="form-group">
                <div>
                    <button class="btn btn-custom btn-lg btn-block" name="submit" ng-click="createDrink()" type="submit" ng-disabled="drink.$invalid">
                    Save
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>